﻿<ion-view view-title="Manager">
    <ion-content has-bouncing="true" class="has-header center">

        <div class="list card">

            <div class="item item-divider">
                Generate/Sync Detail Sheets
                <p><i class="icon ion-wifi"></i> Wi-fi required</p>
            </div>

            <div class="item item-input item-select item-overflow">
                <div class="input-label" style="max-width:none">
                    Select an event
                    <p>Staff may clock in for the selected event only</p>
                </div>
                <select ng-options="item.doc.id as item.doc.id + ' &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ' + item.doc.event_name for item in vm.events | orderBy: 'doc.id'"
                        ng-model="vm.selectedEvent"
                        ng-change="vm.onSelectEvent()">
                    <option value="" selected disabled>Select</option>
                </select>
            </div>

            <div class="item item-overflow" ng-show="vm.selectedEvent && !vm.alreadyGenerated && vm.events.length > 0">

                <button class="button button-sma-ll button-balanced icon-left ion-play" ng-click="vm.onGenerateDetailSheet()">
                    Generate Detail Sheet
                </button>
                <div class="padding-vertical">Generating the detail sheet will copy the event assignments to the iPad so that staff can clock in.</div>
            </div>

            <div class="item item-overflow" ng-show="vm.selectedEvent && vm.alreadyGenerated && vm.events.length > 0">
                <button class="button button-sma-ll button-positive icon-left ion-loop" ng-click="vm.onSyncClick()">Sync Detail Sheets</button>
                <div class="padding-vertical"><i class="icon ion-alert-circled assertive"></i> Syncing will delete all Detail Sheets from this iPad, and detail sheet information will be viewable only through the Game Mangagement online admin interface. You must be connected to the internet to sync.</div>
            </div>
        </div>



        <div class="list card" ng-show="vm.selectedEvent && vm.alreadyGenerated">

            <div class="item item-icon-right" style="background:#f5f5f5; font-weight: 500">
                Reassign Staff in Selected Detail Sheet

                <i class="icon ion-chevron-up" ng-click="vm.onReassignClose()" ng-show="vm.detailSheet"></i>

            </div>

            <div class="item" style="font-weight: 500" ng-click="vm.onLoadStaff('alpha')">
                Show staff alphabetically

            </div>

            <div class="item" style="font-weight: 500" ng-click="vm.onLoadStaff('position')">
                Show staff grouped by position
            </div>

            <div class="item item-overflow" ng-show="vm.detailSheet">

                <div ng-show="vm.showReassignAlphabetical">
                    <ion-item ng-repeat="item in vm.detailSheet  | orderBy: 'doc.lname' " ng-click="vm.onStaffClick(item)">{{item.doc.lname}}, {{ item.doc.fname }}</ion-item>
                </div>

                <div ng-show="vm.showReassignByPosition">
                    <div class="listc " ng-repeat="item in vm.detailSheet  | orderBy: 'position'">
                        <ion-item class="item-divider">{{item.position}}</ion-item>
                        <ion-item ng-repeat="val in item.values | orderBy: 'doc.lname'" ng-click="vm.onStaffClick(val)">{{val.doc.lname}}, {{ val.doc.fname }}</ion-item>
                    </div>
                </div>

                <ion-item class="item-divider" ng-click="vm.onReassignClose(true)"><i class="icon ion-chevron-up" ng-show="vm.detailSheet"></i> Close List</ion-item>

            </div>

        </div>


        <!--<div class="list card" ng-show="vm.selectedEvent && vm.alreadyGenerated">

            <div class="item item-icon-right" style="background:#f5f5f5; font-weight: 500">
                Reassign Staff in Selected Detail Sheet

                <i class="icon ion-chevron-down" ng-click="vm.onLoadStaff()" ng-show="!vm.detailSheet"></i>

                <i class="icon ion-chevron-up" ng-click="vm.onReassignClose()" ng-show="vm.detailSheet"></i>
            </div>

            <div class="item item-overflow" ng-show="vm.detailSheet">
                <p ng-repeat="item in vm.detailSheet | orderBy: 'doc.lname' " ng-click="vm.onStaffClick(item)">{{item.doc.lname}}, {{ item.doc.fname }}</p>
            </div>

        </div>-->





        <div class="list card">

            <div class="item item-divider">
                Sync Data
                <p><i class="icon ion-wifi"></i> Wi-fi required</p>
            </div>

            <div class="item item-overflow">
                <button class="button button-sma-ll button-balanced" ng-click="vm.onSyncEvents()">Sync Events</button>
            </div>

            <div class="item item-overflow">
                <button class="button button-sma-ll button-balanced" ng-click="vm.onSyncPositions()">Sync Positions</button>
            </div>

            <div class="item item-overflow">
                <button class="button button-sma-ll button-balanced" ng-click="vm.onSyncTitles()">Sync Titles</button>
            </div>

            <div class="item item-overflow">
                <button class="button button-sma-ll button-balanced" ng-click="vm.onSyncDefaultTitles()">Sync Default Titles</button>
            </div>

        </div>





    </ion-content>
</ion-view>