﻿<ion-view view-title="Error Log">
    <ion-nav-buttons side="left">

    </ion-nav-buttons>
    <ion-content class="has-header">
        <div class="list">
            <div class="item">
                <button class="button button-balanced ng-click-active ion-refresh" ng-click="vm.refresh()">
                    Refresh
                </button>
                <button class="button button-assertive" ng-click="vm.deleteLog()">
                    Delete Log
                </button>
            </div>
            <div class="item item-overflow" ng-class="{'stable-bg': $index % 2 === 0}" ng-repeat="error in vm.errors">
                <div class="">
                    <p><strong ng-bind="vm.parseDate(error.date)"></strong></p>
                    <p ng-show="error.message"><strong>Message:</strong> {{error.message}}</p>
                    <p ng-show="error.exceptionMessage"><strong>Exception Message:</strong> {{error.exceptionMessage}}</p>
                    <p ng-show="error.innerExceptionMsg"><strong>Inner Exception:</strong> {{error.innerExceptionMsg}}</p>
                    <p ng-show="error.cause"><strong>Cause:</strong> {{error.cause}}</p>
                    <p ng-show="error.stack"><strong>Stack:</strong> {{error.stack}}</p>
                    <p><strong>Full:</strong> {{error.fullError}}</p>

                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
