﻿<section class="mainbar" data-ng-controller="assign as vm">
    <section class="matter">
        <div class="container-fluid">

            <div class="row-fluid">
                <div class="widget wgreen">
                    <div data-cc-widget-header title="{{vm.title}}">
                    </div>
                    <div class="widget-content">


                        <div class="row">
                            <div class="col-md-4">

                              
                                <div class="form-group">
                                    <label for="events">Event</label>
                                    <select id="events" class="form-control"
                                            name="event"
                                            ng-change="vm.onSelectEvent()"
                                            ng-model="vm.selectedEvent"
                                            ng-options="item as item.id + ' &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ' + item.event_name for item in vm.events">
                                        <option value="" disabled>Select an event</option>
                                    </select>
                                </div>

                                <div class="form-group" ng-show="vm.selectedEvent">
                                    <p style="font-weight: 700">Staff or Official</p>
                                    <p ng-show="!vm.selectedEvent.timeUtc" class="text-danger"><em>Note: The selected event does not have an event time recorded. The Report In and Out times for staff will not be calculated.</em></p>
                                    <label class="radio-inline radio-fix">
                                        <input type="radio" name="staffOrOfficial" 
                                               ng-model="vm.staffOrOfficial" 
                                               ng-change="vm.onSelectStaffOrOfficial()"
                                               value="staff"> Staff
                                    </label>
                                    <label class="radio-inline radio-fix">
                                        <input type="radio" name="staffOrOfficial" 
                                               ng-model="vm.staffOrOfficial" 
                                               ng-change="vm.onSelectStaffOrOfficial()"
                                               value="official"> Official
                                    </label>
                                </div>



                                <div class="form-group" ng-show="vm.staffOrOfficial === 'staff' && vm.selectedEvent">
                                    <label for="staff">Staff</label>
                                    <select id="staff" class="form-control"
                                            name="staff"
                                            ng-change="vm.onSelectStaff()"
                                            ng-model="vm.selectedStaff"
                                            ng-options="item as item.lname + ', ' + item.fname +'&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(' + item.id + ')' for item in vm.staff">
                                        <option value="" disabled>Select an employee</option>
                                    </select>
                                </div>

                                <div class="form-group" ng-show="vm.staffOrOfficial === 'official' && vm.selectedEvent">
                                    <label for="staff">Official</label>
                                    <select id="official" class="form-control"
                                            name="official"
                                            ng-change="vm.onSelectStaff()"
                                            ng-model="vm.selectedStaff"
                                            ng-options="item as item.lname + ', ' + item.fname +'&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(' + item.id + ')' for item in vm.officials">
                                        <option value="" disabled>Select an official</option>
                                    </select>
                                </div>

                                <div class="form-group" ng-show="vm.selectedStaff">
                                    <label for="defaultTitle">Title Preference</label>
                                    <select id="defaultTitle" class="form-control"
                                            name="defaultTitle"
                                            ng-change="vm.onSelectDefaultTitle()"
                                            ng-model="vm.selectedDefaultTitle"
                                            ng-options="item as item.title_ID for item in vm.defaultTitles">
                                        <option value="" disabled>Select a title</option>
                                    </select>
                                </div>

                                <div class="form-group" ng-show="vm.selectedPosition">
                                    <label for="position">Position</label>
                                    <select id="position" class="form-control"
                                            name="position"
                                            ng-model="vm.selectedPosition"
                                            ng-options="item as item.position1 for item in vm.positions">
                                        <option value="" disabled>Select a position</option>
                                    </select>
                                </div>

                                <span class="btn btn-primary" ng-click="vm.onSave()"
                                        ng-disabled="!vm.selectedPosition.position1 || !vm.selectedStaff">
                                    Assign
                                </span>


                            </div>

                            <div class="col-md-8">
                                <div class="dissolve-fix dissolve-animation ng-hide" ng-show="vm.assignmentsByStaffId">
                                    <div class="col-xs-12">
                                        <h5>Last 10 assignments of {{ vm.selectedStaff.fname }} {{ vm.selectedStaff.lname }}</h5>

                                        <table class="table table-striped padding-small">
                                            <tr>
                                                <th>Event ID</th>
                                                <th>Date</th>
                                                <th>Title</th>
                                                <th>Position</th>
                                                <th>Hours</th>
                                                <th>Gross</th>
                                            </tr>
                                            <tr ng-repeat="item in vm.assignmentsByStaffId">
                                                <td> {{item.event_ID }}</td>
                                                <td> {{item.timeIn | date: 'shortDate' }}</td>
                                                <td>{{ item.title }}</td>
                                                <td>{{ item.position }}</td>
                                                <td>{{ item.hours }}</td>
                                                <td>{{ item.gross }}</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>




                        </div><!-- /row -->

                        <hr style="margin-top: 20px !important" />

                        <div class="row m-t-20">

                            <div class="dissolve-fix dissolve-animation" ng-show="vm.eventTotals.positions">
                                <div class="col-xs-12"><h4>Currently Assigned Staff</h4></div>
                                <div class="col-md-4">

                                    <h6>{{vm.selectedEvent.event_name}} - {{ vm.selectedEvent.timeUtc | date: 'fullDate' }} - {{ vm.selectedEvent.timeUtc | date: 'shortTime' }}</h6>

                                    <ul class="list-inline">
                                        <li><strong>Total staff:</strong> {{ vm.assignedStaff.length }}</li>
                                        <li><strong>Total gross:</strong> {{ vm.eventTotals.gross | currency }}</li>
                                        <li><strong>Total hours:</strong> {{ vm.eventTotals.hours }}</li>
                                    </ul>
                                    <p><strong>Count of positions:</strong></p>
                                    <ul>
                                        <!--<li ng-repeat="(position, count) in vm.eventTotals.positions | orderBy : 'position' "><strong>{{ position }}:</strong> {{ count }}</li>-->
                                        <li ng-repeat="item in vm.eventTotals.positions | orderBy : 'name' "><strong>{{ item.name }}:</strong> {{ item.count }}</li>
                                    </ul>

                                </div>
                                <div class="col-md-8">
                                    <table class="table table-striped padding-small">
                                        <tr>
                                            <th></th>
                                            <th>Staff ID</th>
                                            <th>Title</th>
                                            <th>Position</th>
                                            <th>Report</th>
                                            <th>Out</th>
                                            <th>Hours</th>
                                            <th>Gross</th>
                                        </tr>
                                        <tr ng-repeat="item in vm.assignedStaff">
                                            <td><i class="fa fa-close text-danger pointer" ng-click="vm.removeStaff(item)"></i></td>
                                            <td>{{ item.staff_ID }}</td>
                                            <td>{{ item.title }}</td>
                                            <td>{{ item.position }}</td>
                                            <td>{{ item.timeIn | date: 'shortTime' }}</td>
                                            <td>{{ item.timeOut | date: 'shortTime' }}</td>
                                            <td>{{ item.hours | number: 2 }}</td>
                                            <td>{{ item.gross | number: 2 }}</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>

                        </div><!-- /row -->


                    </div>
                    <!--<div class="widget-foot">

                    </div>-->
                </div>
            </div>
        </div>
    </section>
</section>
